extends layout

block head
  title Checked Out Books

block content
  h1 Checked Out Books
  form.search(method='POST' action='/books/search')
    input(type='search' class='searchBox' name='search' placeholder="Title, Author, Genre...")
    input(type='submit' class='searchButton' value='Search')
  a.button(href='/books/new_book') Create New Book
  p
    | Filters 
    a(href='/books') All
    |  | 
    a(href='/books/overdue_books') Overdue
    |  | 
    a(href='/books/checked_books') Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each book in books
        tr
          td
            a(href=`/books/book_detail/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.first_published}
  if pages.length > 1
    ul.pagination
      each page in pages
        li
          if page == activePage
            a(href=`/books/checked_books/page-${page}` class='active') #{page}
          else
            a(href=`/books/checked_books/page-${page}`) #{page}
